* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  position: absolute;
  top: 0;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  z-index: 999;
}
.header:target .header__content {
  animation: anim_out .5s forwards;
}
.header:target .header__searchForm {
  display: flex;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 90%;
  height: 56px;
  position: relative;
  animation: anim_in .5s forwards;
}
.header__searchForm {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1180px;
  height: 96px;
  display: none;
  justify-content: center;
  align-items: flex-end;
  animation: anim_form 1s ease-out;
}
.header__someSearch {
  width: 100%;
  max-width: 1200px;
  height: 56px;
  background-color: transparent;
  background-image: url('image/icon-search.svg');
  background-position: 15px 15px;
  background-repeat: no-repeat;
  font-family: Raleway;
  font-size: 28px;
  color: #fff;
  border: none;
  outline: none;
  padding-left: 50px;
}
.header__close {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.header__close:hover {
  transform: scale(1.1);
  transition: .5s;
}
.header__close::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
}
.header__close::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: rotate(-45deg);
}
@media only screen and (max-width: 1280px) {
  .header__content {
    max-width: 600px;
  }
  .header__content .logo {
    order: 2;
  }
  .header__content .logo .logo__title {
    display: none;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.logo:hover {
  color: #c7b29a;
}
.logo__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  font-size: 34px;
  font-weight: 400;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item {
  margin-right: 29px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #c7b29a;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #fff;
  margin-left: 60px;
}
.menu__button:last-child {
  margin-left: 25px;
}
.menu__button:hover {
  color: #c7b29a;
}
h2 {
  margin: 0;
  font-family: Raleway;
  color: #555555;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
p {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  border-radius: 3px;
  background-color: #998675;
  width: 170px;
  height: 50px;
  box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.2);
  transition: .5s;
}
.button:hover {
  box-shadow: inset 0 -50px 0px rgba(0, 0, 0, 0.2);
}
.checkboxButton {
  display: none;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: transparent;
}
.hamburger {
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: relative;
  transition: background 0s 0.3s;
  border-radius: 5px;
}
.hamburger::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-property: top, transform;
}
.hamburger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-property: bottom, transform;
}
#hamburger:checked + .checkboxButton .hamburger {
  background: none;
}
#hamburger:checked + .checkboxButton .hamburger::before {
  top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
#hamburger:checked + .checkboxButton .hamburger::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}
#hamburger:checked ~ .menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 600px;
  top: 65px;
  left: 0;
}
#hamburger:checked ~ .menu__list .menu__item {
  margin-right: 0;
  padding: 5px;
  animation: anim_menu 0.3s ease-out;
}
#hamburger:checked ~ .menu__list .menu__item:hover {
  color: #555;
  background-color: #fff;
}
@keyframes anim_text {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim_form {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim_menu {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anim_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes prev_slide {
  100% {
    transform: translateX(400px);
  }
}
@keyframes next_slide {
  100% {
    transform: translateX(-400px);
  }
}
.services {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.services__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1180px;
  width: 90%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services__item {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #555;
}
.services__item:hover {
  color: #c7b299;
}
.services__item:hover .services__description::after {
  background-color: #c7b299;
}
.services__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: currentColor;
}
.services__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  line-height: 24px;
}
.services__description::after {
  content: "";
  background-color: #f1eee9;
  width: 70px;
  height: 3px;
  margin-top: 30px;
}
.example {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fbfaf8;
  text-align: center;
}
.example__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1230px;
  margin-top: 90px;
}
.example__title {
  margin-bottom: 25px;
}
.example__description {
  width: 60%;
  margin-bottom: 40px;
}
.example__image {
  display: flex;
  justify-content: center;
  position: relative;
}
.example__img {
  margin-top: 82px;
  background-size: cover;
  width: 770px;
  height: 482px;
  position: absolute;
}
.example__img--1 {
  left: -240px;
  height: 400px;
}
.example__img--2 {
  position: relative;
  margin: 0;
  z-index: 5;
}
.example__img--3 {
  right: -240px;
  height: 400px;
}
@media only screen and (max-width: 1280px) {
  .example__img {
    width: 385px;
    height: 241px;
  }
  .example__img--1,
  .example__img--3 {
    margin-top: 41px;
    height: 200px;
  }
}
@media only screen and (max-width: 980px) {
  .example__img--1 {
    left: -120px;
  }
  .example__img--3 {
    right: -120px;
  }
}
@media only screen and (max-width: 680px) {
  .example__img--1,
  .example__img--3 {
    display: none;
  }
  .example__description {
    width: 95%;
  }
}
@media only screen and (max-width: 440px) {
  .example__img {
    width: 346px;
    height: 217px;
  }
}
.boxes {
  width: 100%;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
}
.boxes__content {
  max-width: 1180px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.boxes__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxes__link {
  font-family: Raleway;
  color: #c7b299;
  font-size: 28px;
  text-align: left;
}
.boxes__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  margin-top: 50px;
}
.boxes__description {
  color: #615855;
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
}
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.projects__title {
  margin-bottom: 25px;
}
.projects__description {
  width: 60%;
  margin-bottom: 40px;
}
.projects__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.projects__item {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding: 5px 25px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  transition: .5s;
  cursor: pointer;
}
.projects__item:last-child {
  margin-right: 0;
}
.projects__item:hover {
  background-color: #998675;
  color: #ffffff;
}
.projects__item--active {
  background-color: #998675;
  color: #ffffff;
}
.projects__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1170px;
  margin-bottom: 10px;
}
.projects__card {
  margin-bottom: 30px;
}
@media only screen and (max-width: 1280px) {
  .projects__cards {
    max-width: 770px;
  }
}
@media only screen and (max-width: 850px) {
  .projects__list {
    max-width: 500px;
  }
  .projects__cards {
    max-width: 400px;
    justify-content: center;
  }
}
@media only screen and (max-width: 620px) {
  .projects__description {
    width: 95%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fbfaf8;
  cursor: pointer;
  transition: transform .5s, opacity .5s;
}
.card--pasive {
  transform: scale(0.8);
  opacity: .5;
  pointer-events: none;
}
.card:hover {
  background-color: #362f2d;
}
.card:hover .card__title {
  color: #ffffff;
}
.card:hover .card__text::before {
  border-bottom: 15px solid #362f2d;
}
.card:hover .card__img {
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.3;
}
.card:hover .card__link {
  opacity: 1;
}
.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 370px;
  height: 237px;
  overflow: hidden;
  background-color: #000;
}
.card__img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s ease-out;
  top: 0;
  left: 0;
}
.card__link {
  color: #fff;
  width: 26px;
  height: 26px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .5s;
}
.card__link:hover {
  color: #c7b299;
}
.card__text {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 100px;
  justify-content: center;
  position: relative;
  padding-left: 30px;
}
.card__text::before {
  content: "";
  position: absolute;
  top: -34px;
  left: 20px;
  border: 20px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}
.card__title {
  color: #c7b29a;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 14px;
}
.card__description {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
@media only screen and (max-width: 400px) {
  .card__content,
  .card__text,
  .card__image {
    width: 330px;
  }
}
.presentation {
  width: 100%;
  height: 100vh;
  min-height: 480px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-size: cover;
}
.presentation__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  margin-bottom: 45px;
}
.presentation__link {
  width: 70px;
  height: 70px;
  color: #fff;
}
.presentation__link:hover {
  color: #c7b299;
}
.presentation__title {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 25px;
}
.presentation__description {
  width: 60%;
  color: #ffffff;
  margin-bottom: 40px;
}
.presentation__timer {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.presentation__popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  display: none;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  transition: .3s;
  overflow: hidden;
}
.presentation__popup:target {
  opacity: 1;
  pointer-events: auto;
  display: flex;
}
.presentation__modal {
  position: relative;
  width: 65%;
  height: 80%;
  background: rgba(0, 0, 0, 0.8);
}
.presentation__close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 25px;
  height: 25px;
  background-image: url(image/icon_close.svg);
  background-size: contain;
  opacity: .3;
}
.presentation__close:hover {
  opacity: 0.9;
}
.presentation__video {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 620px) {
  .presentation__description {
    width: 95%;
  }
}
.mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fbfaf8;
}
.mobile__content {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: 95%;
  padding-top: 80px;
}
.mobile__img {
  width: 423px;
  height: 616px;
}
.mobile__text {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile__title {
  margin-bottom: 40px;
}
.mobile__description {
  text-align: left;
  margin-bottom: 45px;
}
.mobile__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.mobile__item {
  font-family: Montserrat;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -35px;
}
.mobile__item::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url('image/listItem-arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 35px;
}
.counter {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.counter__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 50px 0;
}
.counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin-top: 20px;
}
.counter__item:last-child {
  margin-right: 0;
}
.counter__item::after {
  content: "";
  background-color: #ffffff;
  width: 30px;
  height: 2px;
  margin-top: 30px;
}
.counter__item--1::before {
  content: "";
  background-image: url('image/counter_icon1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 44px;
  margin-bottom: 30px;
}
.counter__item--2::before {
  content: "";
  background-image: url('image/counter_icon2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 44px;
  margin-bottom: 30px;
}
.counter__item--3::before {
  content: "";
  background-image: url('image/counter_icon3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 44px;
  margin-bottom: 30px;
}
.counter__item--4::before {
  content: "";
  background-image: url('image/counter_icon4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 44px;
  margin-bottom: 30px;
}
.counter__item--5::before {
  content: "";
  background-image: url('image/counter_icon5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 44px;
  margin-bottom: 30px;
}
.counter__number {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 48px;
  font-weight: 200;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.counter__title {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.posts {
  display: flex;
  justify-content: center;
  width: 100%;
}
.posts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1190px;
  margin-top: 80px;
}
.posts__title {
  margin-bottom: 25px;
}
.posts__description {
  width: 60%;
  margin-bottom: 40px;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.carousel__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 1200px;
  height: 460px;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.carousel__wrapper {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(2400px);
}
.carousel__wrapper--next {
  animation: next_slide 1s ease-out forwards;
}
.carousel__wrapper--prev {
  animation: prev_slide 1s ease-out forwards;
}
.carousel__item {
  background-color: #fbfaf8;
  width: 370px;
  height: 395px;
  border: 1px solid #f8f8f8;
  overflow: hidden;
}
.carousel__item:hover {
  background-color: #362f2d;
}
.carousel__item:hover .carousel__title {
  color: #c7b299;
}
.carousel__item:hover .carousel__description {
  color: #ffffff;
}
.carousel__item:hover .carousel__day {
  background-color: #c7b299;
}
.carousel__item:hover .carousel__month {
  background-color: #a48d72;
}
.carousel__item:hover .carousel__img {
  transform: scale(1.1);
}
.carousel__image {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.carousel__img {
  position: absolute;
  top: 0;
  transition: .5s;
}
.carousel__date {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}
.carousel__day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #363636;
  width: 50px;
  height: 35px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
.carousel__month {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #252525;
  width: 50px;
  height: 25px;
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.carousel__text {
  padding-left: 30px;
  padding-top: 30px;
  overflow: hidden;
}
.carousel__title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.carousel__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-top: 15px;
}
.carousel__link {
  font-family: Montserrat;
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.carousel__link::after {
  content: "";
  background-image: url('image/link_arrow-hover.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px;
  height: 8px;
  margin-left: 9px;
}
.carousel__button {
  display: flex;
  justify-content: center;
}
.carousel__prev {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-image: url('image/carousel_prev.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel__prev:hover {
  background-image: url('image/carousel_prev-hover.svg');
}
.carousel__prev--disabled {
  pointer-events: none;
  opacity: 0.5;
}
.carousel__next {
  width: 22px;
  height: 22px;
  background-image: url('image/carousel_next.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel__next:hover {
  background-image: url('image/carousel_next-hover.svg');
}
.carousel__next--disabled {
  pointer-events: none;
  opacity: 0.5;
}
.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('image/partners_bg.png');
  background-size: cover;
}
.swiper-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1180px;
  margin-top: 100px;
  margin-bottom: 110px;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
}
.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #191919;
}
.copyright__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 80px 0;
}
.copyright__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 270px;
  margin-right: 30px;
}
.copyright__item:last-child {
  margin-right: 0;
}
.copyright__description {
  color: #545454;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.copyright__description--item1 {
  margin-top: 30px;
}
.copyright__description:hover {
  color: #c7b299;
}
.copyright__link {
  font-family: Montserrat;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.copyright__link::after {
  content: "";
  background-image: url('image/link_arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px;
  height: 8px;
  margin-left: 9px;
}
.copyright__link--twit {
  font-family: Montserrat;
  color: #00bff3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.copyright__link--intext {
  font-family: Montserrat;
  color: #959595;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.copyright__link--widget {
  width: 130px;
  height: 98px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.copyright__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 33px;
}
.copyright__block {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px;
}
.copyright__block:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.copyright__block:hover {
  cursor: pointer;
}
.copyright__block:hover .copyright__description {
  color: #c7b299;
}
.copyright__block:hover .copyright__date {
  color: #ffffff;
}
.copyright__block:hover .copyright__link--intext {
  color: #ffffff;
}
.copyright__date {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
}
.copyright__date--item3 {
  margin-bottom: 0;
  margin-top: 10px;
}
.copyright__widget {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -10px;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #111111;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 45px 0;
  white-space: nowrap;
}
.footer__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer__item {
  padding: 0 15px;
  border-right: 2px solid #252525;
}
.footer__item:first-child {
  padding-left: 0;
}
.footer__item:last-child {
  border: none;
  padding-right: 0;
}
.footer__description {
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.footer__link {
  font-family: Montserrat;
  color: #959595;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.footer__link:hover {
  color: #ffffff;
}
.footer__link--main {
  color: #545454;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.footer__link--main:hover {
  color: #c7b299;
}
.cssSlider {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 480px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cssSlider__content {
  width: 100%;
  height: calc(300%);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 1s ease-in-out, left 1s ease-in-out;
}
.cssSlider__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cssSlider__text {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 40px;
}
.cssSlider__title {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 14px;
}
.cssSlider__title--big {
  margin-bottom: 19px;
  font-size: 52px;
  font-weight: 700;
}
.cssSlider__description {
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 50px;
}
.cssSlider__dots {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
}
.cssSlider__dot {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.6;
  transition: 1s ease-out;
  margin-bottom: 5px;
  z-index: 99;
}
.cssSlider__dot:last-child {
  margin-bottom: 0;
}
.cssSlider__dot:hover {
  border: 2px solid #d3c1ad;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 15px;
  height: 15px;
  opacity: 1;
}
#s1,
#s2,
#s3 {
  display: none;
}
#s1:checked ~ .cssSlider__content {
  top: 0;
}
#s1:checked ~ .cssSlider__content .cssSlider__text--1 {
  animation: anim_text 2s ease-out;
}
#s1:checked ~ .cssSlider__dots .cssSlider__dot--1 {
  border: 2px solid #d3c1ad;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 15px;
  height: 15px;
  opacity: 1;
}
#s2:checked ~ .cssSlider__content {
  top: -100%;
}
#s2:checked ~ .cssSlider__content .cssSlider__text--2 {
  animation: anim_text 2s ease-out;
}
#s2:checked ~ .cssSlider__dots .cssSlider__dot--2 {
  border: 2px solid #d3c1ad;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 15px;
  height: 15px;
  opacity: 1;
}
#s3:checked ~ .cssSlider__content {
  top: -200%;
}
#s3:checked ~ .cssSlider__content .cssSlider__text--3 {
  animation: anim_text 2s ease-out;
}
#s3:checked ~ .cssSlider__dots .cssSlider__dot--3 {
  border: 2px solid #d3c1ad;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  width: 15px;
  height: 15px;
  opacity: 1;
}
@media only screen and (max-width: 620px) {
  .cssSlider__description {
    margin-bottom: 20px;
    font-size: 12px;
    width: 70%;
    align-self: center;
  }
  .cssSlider__title {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .cssSlider__title--big {
    font-size: 34px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 620px) {
  .cssSlider__text {
    width: 100%;
  }
  .cssSlider__description {
    margin-bottom: 10px;
  }
  .cssSlider__title {
    font-size: 20px;
  }
  .cssSlider__title--big {
    font-size: 28px;
  }
  .cssSlider__content {
    width: calc(300%);
    height: 100%;
    flex-direction: row;
  }
  .cssSlider__dots {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cssSlider__dot {
    transform: scale(1.5);
    margin-bottom: 0;
    margin-right: 15px;
  }
  .cssSlider__dot:last-child {
    margin-right: 0;
  }
  .cssSlider #s1:checked ~ .cssSlider__content {
    top: 0;
    left: 0;
  }
  .cssSlider #s2:checked ~ .cssSlider__content {
    top: 0;
    left: -100%;
  }
  .cssSlider #s3:checked ~ .cssSlider__content {
    top: 0;
    left: -200%;
  }
}
@media only screen and (max-width: 440px) {
  .cssSlider__description {
    width: 90%;
  }
}
