.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
  width: 100px;
  height: 20px;
  margin-top: 20px;
}
.start.is-active {
  animation: btn 5s ease-in-out;
  pointer-events: none;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: 1s;
}
.board.is-disabled {
  pointer-events: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
}
.tiles {
  width: 20%;
  margin: 5px;
  border: 1px solid black;
  transition: .3s;
  transform: rotateX(180deg);
}
.tiles.is-active {
  transform: rotateX(0);
}
.tiles.is-find {
  transform: rotateX(0);
}
.tiles.show {
  animation: show 5s ease-in;
}
.front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.back {
  position: relative;
  background-color: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}
@keyframes show_tiles {
  100% {
    transform: rotateX(0);
  }
}
@keyframes show {
  20% {
    transform: rotateX(0);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes btn {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
