@keyframes active_pasive {
    50% {
        opacity: 0;
        width: 370px;
        
    }
    100% {
        width: 0;
        opacity: 0; 
    }
}
@keyframes pasive_active {
    0% { 
        opacity: 0;    
    }
    25% {
        width: 0;
    }
    50% {  
        width: 370px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        width: 370px;
    }
}
@keyframes next {
    100% { 
        transform: rotate(360deg);
    }
}
@keyframes prev {
    100% { 
        transform: rotate(-360deg);
    }
}

@keyframes anim_text {
    0% { 
        transform: translateY(200px);
        opacity: 0;    
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes anim_slide_in {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}