.boxes {
    width: 100%;
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    &__content {
        max-width: 1180px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__link {
        font-family: Raleway;
        color:  #c7b299;
        font-size: 28px;
        text-align: left;
    }
    &__title {
        color:  #ffffff;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
        margin-top: 50px;
    }
    &__description {
        color:  #615855;
        font-size: 18px;
        text-align: left;
        margin-bottom: 50px;
    }
}