.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 1200px;
        height: 460px;
        margin-bottom: 80px;
        position: relative;
        overflow: hidden;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(400px*6);
        &--next {
            animation: next_slide 1s ease-out forwards;
        }
        &--prev {
            animation: prev_slide 1s ease-out forwards;
        }
    }  
    &__item {
        background-color:  #fbfaf8;
        width: 370px;
        height: 395px;
        border: 1px solid #f8f8f8;
        overflow: hidden;
        &:hover {
            background-color:  #362f2d;
        }
        &:hover .carousel__title {
            color:  #c7b299;
        }
        &:hover .carousel__description {
            color:  #ffffff;
        }
        &:hover .carousel__day {
            background-color:  #c7b299;
        }
        &:hover .carousel__month {
            background-color:  #a48d72;
        }
        &:hover .carousel__img {
            transform: scale(1.1);
            transition: .5s;
        }
    }
    &__image {
        position: relative;
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top: 0;
    }
    &__date {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-top: 20px;
    }
    &__day {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color:  #363636;
        width: 50px;
        height: 35px;
        font-family: Montserrat;
        color:  #ffffff;
        font-size: 24px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
    }
    &__month {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color:  #252525;
        width: 50px;
        height: 25px;
        font-family: Roboto;
        color:  #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }
    &__text {
        padding-left: 30px;
        padding-top: 30px;
        overflow: hidden;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        text-align: left;
    }
    &__description {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: left;
        margin-top: 15px;
    }
    &__link {
        font-family: Montserrat;
        color:  #c7b299;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        display: flex;
        align-items: baseline;
        margin-top: 20px;
        &::after {
            content: "";
            background-image: url('image/link_arrow-hover.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 5px;
            height: 8px;
            margin-left: 9px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
    }
    &__prev {
        width: 22px;
        height: 22px;
        margin-right: 8px;
        background-image: url('image/carousel_prev.svg');
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('image/carousel_prev-hover.svg');
        }
        &--disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    &__next {
        width: 22px;
        height: 22px;
        background-image: url('image/carousel_next.svg');
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('image/carousel_next-hover.svg');
        }
        &--disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
