.cssSlider {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 480px;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__content {
        width: 100%;
        height: calc(100%*3);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-top: 40px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 14px;

        &--big {
            margin-bottom: 19px;
            font-size: 52px;
            font-weight: 700; 
        }
    }

    &__description {
        color:  #ffffff;
        line-height: 24px;
        margin-bottom: 50px; 
    }

    &__dots {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 20px;
    }

    &__dot {
        background-color:  #ffffff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        opacity: 0.6;
        transition: 1s ease-out;
        margin-bottom: 5px;
        z-index: 99;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            border: 2px solid #d3c1ad;
            border-radius: 50%;
            background-color:  rgba(255, 255, 255, 0);
            width: 15px;
            height: 15px;
            opacity: 1;
        }
    }
}

#s1,
#s2,
#s3 {
    display: none;
}

#s1:checked  {
    & ~ .cssSlider__content {
    top: 0;
        & .cssSlider__text--1 {
            animation: anim_text 2s ease-out;
        }
    }
    & ~ .cssSlider__dots {
        & .cssSlider__dot--1 {
            border: 2px solid #d3c1ad;
            border-radius: 50%;
            background-color:  rgba(255, 255, 255, 0);
            width: 15px;
            height: 15px;
            opacity: 1;
        }
    }   
}

#s2:checked  {
    & ~ .cssSlider__content {
    top: -100%;
        & .cssSlider__text--2 {
            animation: anim_text 2s ease-out;
        }
    }
    & ~ .cssSlider__dots {
        & .cssSlider__dot--2 {
            border: 2px solid #d3c1ad;
            border-radius: 50%;
            background-color:  rgba(255, 255, 255, 0);
            width: 15px;
            height: 15px;
            opacity: 1;
        }
    }  
}

#s3:checked  {
    & ~ .cssSlider__content {
    top: -200%;
        & .cssSlider__text--3 {
            animation: anim_text 2s ease-out;
        }
    }
    & ~ .cssSlider__dots {
        & .cssSlider__dot--3 {
            border: 2px solid #d3c1ad;
            border-radius: 50%;
            background-color:  rgba(255, 255, 255, 0);
            width: 15px;
            height: 15px;
            opacity: 1;
        }
    }  
}

@media only screen
and (max-width : 1280px) {
    .cssSlider {
        &__description {
            margin-bottom: 20px;
            font-size: 12px;
            width: 70%;
            align-self: center;
        }
        &__title {
            font-size: 26px;
            margin-bottom: 10px;
        }
        &__title--big {
            font-size: 34px;
            margin-bottom: 10px;
        }
    }
}
@media only screen
and (max-width : 620px) {
    
}

@media only screen
and (max-width : 620px) {
    .cssSlider {
        &__text {
            width: 100%;
        }
        &__description {
            margin-bottom: 10px;
        }
        &__title {
            font-size: 20px;
            &--big {
                font-size: 28px;
            }
        }
        &__content {
            width: calc(100%*3);
            height: 100%; 
            flex-direction: row;
        }
        &__dots {
            flex-direction: row;
            margin-right: 0;
            margin-bottom: 20px;
        }
        &__dot {
            transform: scale(1.5);
            margin-bottom: 0;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
        #s1:checked ~ .cssSlider__content {
            top: 0;
            left: 0;
        }
        #s2:checked ~ .cssSlider__content {
            top: 0;
            left: -100%;
        }
        #s3:checked ~ .cssSlider__content {
            top: 0;
            left: -200%;
        }
    }
}
@media only screen
and (max-width : 440px) {
    .cssSlider__description {
        width: 90%;
    }
}