.header {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1180px;
        width: 90%;
        height: 56px;
    }
}
  