* {
    box-sizing: border-box;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 360px;
}
a {
    text-decoration: none;
    color:  #ffffff
}
//Хэдер
@import "header";
@import "logo";
@import "menu";

//Заголовки и описание секций
@import "section-title";
@import "section-description";
//Кнопка
@import "button";
//Выпадающее меню
@import "hamburger";
//Анимация
@import "animation";

// Секции
@import "services";
@import "example";
@import "boxes";
@import "projects";
@import "card";  //Внутри секции Projects
@import "presentation";
@import "mobile";
@import "counter";
@import "posts";
@import "carousel";  // Внутри секции Posts
@import "swiper"; 
@import "copyright";
@import "footer";
@import "cssSlider";
