.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    &:hover {
        color: #c7b29a;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        color:  currentColor;
        font-size: 34px;
        font-weight: 400;
    }
}