@media only screen
and (max-width : 1280px) {
    .header {
        top: 20px;
    }
    .header__content {
        max-width: 600px;
    }
    .menu__item {
        display: none;
    }
    .menu__item--search,
    .menu__item--cart {
        display: block;
    }
    .cssSlider__description {
        margin-bottom: 20px;
        font-size: 12px;
        width: 70%;
        align-self: center;
    }
    .cssSlider__title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .cssSlider__title--big {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .services__list {
        max-width: 600px;
    }
    .projects__cards {
        max-width: 800px;
    }
    .example__img {
        width: 385px;
        height: 241px;
    }
    .example__img--1,
    .example__img--3 {
        margin-top: 41px;
        height: 200px;
    }
    .mobile__content {
        flex-direction: column;
        align-items: center;
    }
    .mobile__text {
        width: 70%;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .mobile__description {
        text-align: center;
    }
    .mobile__img {
        order: 2;
    }
    .mobile__list {
        display: none;
    }
    .carousel__content {
        width: 800px;
    }
    .partners__content {
        max-width: 580px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .partners__item:nth-child(2) {
        margin-right: 0;
    }
    .copyright__content {
        max-width: 600px;
    }
    .copyright__item:nth-child(2) {
        margin-right: 0;
    }
}
@media only screen
and (max-width : 1150px) {
    .counter__content {
        max-width: 690px;
    }
    .counter__item::after {
        display: none;
    }
}
@media only screen
and (max-width : 980px) {
    .footer__content {
         justify-content: center;
         max-width: 600px;
    }
    .footer__block:last-child {
            margin-top: 10px;
    }
    .example__img--1 {
        left: -120px;
    }
    .example__img--3 {
        right: -120px;
    }
}
@media only screen
and (max-width : 850px) {
    .carousel__content {
        width: 400px;
    }
    .boxes__content {
        max-width: 600px;
        justify-content: center;
    }
    .boxes__title {
        text-align: center;
    }
    .boxes__description {
        text-align: center;
        margin-bottom: 20px;
    } 
    .boxes__btn {
        margin-bottom: 50px;
    }
    .projects__list {
        max-width: 500px;
    }
    .projects__cards {
        max-width: 400px;
        margin-right: 0;
    }
    .card {
        margin-right: 0;
    }  
} 
@media only screen
and (max-width : 680px) {
    .example__img--1,
    .example__img--3 {
        display: none;
    }
    .example__description {
        width: 95%;
    }
    .mobile__text {
        width: 90%;
    }
    .partners__content {
        max-width: 210px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .partners__item {
        margin-right: 0;
    }
}
@media only screen
and (max-width : 620px) {
    .cssSlider__text {
        width: 100%;
    }
    .cssSlider__description {
        margin-bottom: 10px;
    }
    .cssSlider__title {
        font-size: 20px;
    }
    .cssSlider__title--big {
        font-size: 28px;
    }
    .cssSlider__content {
        width: calc(100%*3);
        height: 100vh;
        flex-direction: row;
    }
    .cssSlider__dot {
        top: 95%;
        right: 50%;
    }
    .cssSlider__dot--1 {
        margin-top: 0;
        margin-right: 20px;
    }
    .cssSlider__dot--2 {
        margin-top: 0;
    }
    .cssSlider__dot--3 {
        margin-top: 0;
        margin-right: -20px;
    }
    #s1:checked ~ .cssSlider__content {
        top: 0;
        left: 0;
    }
    #s2:checked ~ .cssSlider__content {
        top: 0;
        left: -100%;
    }
    #s3:checked ~ .cssSlider__content {
        top: 0;
        left: -200%;
    }
    .projects__description {
        width: 95%;
    }
    .presentation__description {
        width: 95%;
    }
    .posts__description {
        width: 95%;
    }
    .mobile__img {
        width: 212px;
        height: 308px;
    }
    .copyright__content {
        max-width: 300px;
    }
    .copyright__item {
        margin-right: 0;
    }
}
@media only screen
and (max-width : 440px) {
    .cssSlider__description {
        width: 90%;
    }
    .example__img {
        width: 346px;
        height: 217px;
    }
}
@media only screen
and (max-width : 400px) {
    .card__content,
    .card__text,
    .card__image {
        width: 330px;
    }
    .carousel__item {
        width: 315px;
        height: 335px;
        margin-right: 85px;
    }
    .carousel__content {
        width: 330px;
    }
    .carousel__wrapper {
        justify-content: center;
    }
}
@media only screen
and (max-height : 400px) {
    .presentation__btn {
        margin-bottom: 20px;
    }
    .presentation__modal {
        width: 90%;
        height: 90%;
    }
}   
