.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    &__item {
        margin-right: 29px;
        &--cart{
            width: 18px;
            height: 24px;
            margin-left: 32px;
        }
        &--search {
            width: 24px;
            height: 24px;
            margin-right: 0;
        }
        &:hover {
            color:  #c7b29a;
        }
    }
}